
<header id="header">
  <nav class="navbar navbar-fixed-top" role="banner">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="inclucion.html">	<img src="../../assets/img/logo/logo2.png" class="navbar-brand" > </a>
          </div>				
          <div class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#header">INICIO</a></li>
                  
                  <li><a href="#gallery">GALERIA</a></li>
                  
                  <li><a href="#our-team">DISCAPACIDADES</a></li> 
                                         
              </ul>
          </div>
      </div>
  </nav><!--/ fin de nav-->		
</header><!--/fin de encabezdo-->	
<!--inicio control de deslisantes-->
<div class="slider">		
<div id="about-slider">
<div id="carousel-slider" class="carousel slide" data-ride="carousel">
  <!-- Indicadores -->
  <ol class="carousel-indicators visible-xs">
    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-slider" data-slide-to="1"></li>
    <li data-target="#carousel-slider" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">						
      <img src="../../assets/img/img_carrucel/1.jpg" class="img-responsive" alt=""> 
      <div class="carousel-caption">
        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
          <h2><span>INCLUCION</span></h2>
          <p>Si aprendemos a aceptar la diversidad como algo normal,</p>
          <p>no es necesario hablar de inclusión si no  de convivencia.</p>
        </div>
      </div>
      </div>

      <div class="item">
      <img src="../../assets/img/img_carrucel/2.jpg" class="img-responsive" alt=""> 
      <div class="carousel-caption">
      </div>
      </div> 
      <div class="item">
      <img src="../../assets/img/img_carrucel/3.jpg" class="img-responsive" alt=""> 
      <div class="carousel-caption">
      </div>
      </div> 
  </div>
  
  <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
    <i class="fa fa-angle-left"></i> 
  </a>
  
  <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
    <i class="fa fa-angle-right"></i> 
  </a>
</div> 
</div>
</div><!--/fin de control de deslisantes-->

<!--incio galeria-->
<div id="gallery">
<div class="container">
<div class="text-center">
  <h3>Galeria</h3>
</div>
<div class="row">
  <figure class="effect-chico">						
    <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
      <a href="img/img_galeria/A.jpeg" class="flipLightBox">
      <img src="../../assets/img/img_galeria/1.jpeg" class="img-responsive" alt="">
      </a>						
    </div>
  </figure>
  <figure class="effect-chico">
    <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
      <a href="img/img_galeria/B.jpeg" class="flipLightBox">
      <img src="../../assets/img/img_galeria/2.jpg" class="img-responsive" alt="">
      </a>
    </div>
  </figure>	
  <figure class="effect-chico">
    <div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
      <a href="img/img_galeria/C.jpeg" class="flipLightBox">
      <img src="../../assets/img/img_galeria/3.jpeg" class="img-responsive" alt="">
      </a>
    </div>
  </figure>
  <figure class="effect-chico">
    <div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
      <a href="img/img_galeria/D.jpeg" class="flipLightBox">
      <img src="../../assets/img/img_galeria/4.jpeg" class="img-responsive" alt="">
      </a>
    </div>	
  </figure>
</div>
</div>
<div class="gallery">
<div class="container">
  <div class="row">
    <figure class="effect-chico">
      <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <a href="img/img_galeria/E.jpeg" class="flipLightBox">
        <img src="../../assets/img/img_galeria/5.jpeg" class="img-responsive" alt="">
        </a>
      </div>
    </figure>	
    <figure class="effect-chico">
      <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <a href="img/img_galeria/F.gif" class="flipLightBox">
        <img src="../../assets/img/img_galeria/6.png" class="img-responsive" alt="">
        </a>
      </div>
    </figure>		
  </div>
</div>
</div>
</div><!--/termina galeria-->

<!--discapacidad-->
<div id="our-team">
<div class="container">
<div class="text-center">
  <h3>Discapacidad</h3>
  <p>Una discapacidad es una condición que hace que una persona sea considerada como discapacitada.<br>Esto quiere decir que el sujeto en cuestión tendrá dificultades para desarrollar tareas cotidianas y corrientes que, al resto de los individuos, no les resultan complicadas.<br>El origen de una discapacidad suele ser algún trastorno en las facultades físicas o mentales.</p>
</div>
</div>
<div class="team">
<div class="container">
  <div class="row">
    <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <img src="../../assets/img/img_dis/1.jpeg" class="img-responsive" alt="">
        <h3>Visual</h3>
        <p>La Discapacidad visual(DV) está relacionada con una deficiencia del sistema de la visión<br>que afecta la agudeza visual, campo visual, motilidad ocular, visión de los colores o profundidad, afectando la capacidad de una persona para ver.<br>Al hablar de DV podemos referirnos a la persona que presenta ceguera o baja visión.</p>
      </div>
    </div>
    <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <img src="../../assets/img/img_dis/2.jpg" class="img-responsive" alt="">
        <h3>Motriz</h3>
        <p>Los principales problemas que puede generar la discapacidad motriz son varios,<br>entre ellos podemos mencionar: movimientos incontrolados, dificultades de coordinación, alcance limitado, fuerza reducida, habla no inteligible,<br>dificultad con la motricidad fina y gruesa, mala accesibilidad al medio físico.</p>
      </div>
    </div>
    <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <img src="../../assets/img/img_dis/3.jpeg" class="img-responsive" alt="">
        <h3>Intelectual</h3>
        <p>Las discapacidades intelectuales ocurren porque el cerebro resulta lesionado o porque algún problema impide que el cerebro se desarrolle normalmente.<br>Estos problemas suelen ocurrir mientras el bebé está creciendo en el vientre de su mamá, durante el nacimiento del bebé o después de que el niño ha nacido.<br>No obstante, en muchos casos los médicos no saben cuál es la causa.</p>
      </div>
    </div>
    <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <img src="../../assets/img/img_dis/4.jpeg" class="img-responsive" alt="">
        <h3>Auditiva</h3>
        <p>Es un déficit total o parcial en la percepción que se evalúa por el grado de pérdida de la audición en cada oído.

            Las personas con esta discapacidad se distinguen entre:
            * Sordas: poseen una deficiencia total o profunda.
            * Hipoacúsicas: poseen una deficiencia parcial, es decir, que cuentan con un resto auditivo el cual puede mejorar con el uso de audífonos (aparato electrónico que amplifica los sonidos).
            
            La discapacidad auditiva aparece como invisible, ya que no presenta características físicas evidentes. Se hace notoria fundamentalmente por el uso del audífono y en las personas que han nacido sordas o han adquirido la pérdida auditiva a muy temprana edad, por el modo de hablar.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <img src="../../assets/img/img_dis/5.jpeg" class="img-responsive" alt="">
        <h3>Trastorno de<br>comunicacion</h3>
        <p>Los trastornos de la comunicación son trastornos del discurso y del lenguaje que se refieren a problemas en la comunicación y áreas relacionadas, como la función motora oral.<br>Los retrasos y trastornos pueden ir desde la sustitución de sonidos simples a la incapacidad de comprender o utilizar su lengua materna.</p>
      </div>
    </div>
    <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <img src="../../assets/img/img_dis/6.png" class="img-responsive" alt="">
        <h3>Visceral</h3>
        <p>Las personas con discapacidad visceral son aquellos individuos que, debido a alguna deficiencia en la función de órganos internos, por ejemplo, el cardíaco o el diabético, se encuentran impedidas de desarrollar su vida con total plenitud (aunque no tengan complicaciones en el campo intelectual, en sus funciones sensoriales o motoras). </p>
      </div>
    </div>
  </div>
</div>
</div>
</div><!--/termina discapacidad -->

<footer>											
<div class="text-center">
<div class="copyright">
  &copy; 2015 INCLUCION. Todos los derechos reservados.
</div>
</div>									
</footer>
